extends layout 

block headline  
  h1 Welcome to the 2023 Fantasy Bros Draft Order Reveal!

block content 
  form(action="/pick/6" method="get")
    input(type="submit" value="New Lottery")
  form(action="/summary" method="get")
    input(type="submit" value="Last Lottery")