extends layout 

block headline
  h1
    span Welcome to the #{new Date().getFullYear()} 
    img(src="/images/football.png", class="football")
    span  Draft Order Reveal!

block content 
  form(action="/pick/6" method="get")
    input(type="submit" value="New Lottery")
  form(action="/summary" method="get")
    input(type="submit" value="Last Lottery")