doctype html

html(lang="en-US")
  head
    title Draft Order Reveal
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/stylesheets/application.css")

  body
    header
      block headline

    main
      block content