extends layout 

block headline  
  h1 Draft Order

block content 
  table(align="center")
    tr
      th Pick
      th Team
    each team, index in order 
      tr 
        td #{index + 1}
        td 
          img(src=`/images/${team.pic}` style="width: 200px")
    tr 
      td 
      td
        form(action=`/` method="get")
          input(type="submit" value="Homepage")

  
        